### Starting out with data sets

In [8]:
import pandas as pd

Below we import data from a text file called 'balance.txt'. The text file is found in the Task folder. Make sure it is in the same directory that the notebook is saved in.

In [31]:
df = pd.read_csv('balance.txt',sep=' ')
print(df)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
0    12.240798   14.891   3606     283      2   34         11    Male      No
1    23.283334  106.025   6645     483      3   82         15  Female     Yes
2    22.530409  104.593   7075     514      4   71         11    Male      No
3    27.652811  148.924   9504     681      3   36         11  Female      No
4    16.893978   55.882   4897     357      2   68         16    Male      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
395   8.764984   12.096   4100     307      3   32         13    Male      No
396   9.943838   13.364   3838     296      5   65         17    Male      No
397  14.882078   57.872   4171     321      5   67         12  Female      No
398  12.001071   37.728   2525     192      1   44         13    Male      No
399  10.159598   18.701   5524     415      5   64          7  Female      No

    Married         Ethnicity
0       Yes         Caucasian
1       Yes             Asian
2        No             Asian
3        No             Asian
4       Yes         Caucasian
..      ...               ...
395     Yes         Caucasian
396      No  African American
397     Yes         Caucasian
398     Yes         Caucasian
399      No             Asian

[400 rows x 11 columns]

Here is how to view the top rows of the frame. The head() function shows the first five observations. Always use this to get a glimpse of the data. You can see the columns and the type of data in the columns.

In [10]:
df.head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian

This shows the last observations of the dataset

In [7]:
df.tail(5)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

To get the range of indexes of your dataset use the syntax 'dataset_name.index'. This helps you to know how to refer to your observations. By using the index function below, we know the range of the dataset is from 0-400 and therefore you cannot index an observation that is not within that range. For example, index 450 would not be a valid index for this dataset.

In [13]:
df.index

RangeIndex(start=0, stop=400, step=1)

This allows you to see the columns in the data frame. You will need this when you are doing an analysis and are writing reports based on the dataset.

In [11]:
df.columns

Index(['Balance', 'Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education',
       'Gender', 'Student', 'Married', 'Ethnicity'],
      dtype='object')

describe() shows a quick statistic summary of your data. As you can see, the statistic is calculated for only columns with numerical values. We will see in a later task how to interpret the statistics.

In [13]:
df.describe()

,Balance,Income,Limit,Rating,Cards,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,13.429175,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000
std,5.669256,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207
min,3.749403,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000
25%,9.891439,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000
50%,11.779615,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000
75%,15.236961,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000
max,38.785123,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000

sort_values() helps to arrange observations in a well ordered manner. The funtion will take in parameters such as column name. By default the observations will be in ascending order. If you want to display data in descending order, you will have to do it as shown below. Set ascending to false.

In [14]:
df.sort_values(by='Income',ascending=False).head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
58,9.180797,10.354,3480,281,2,70,17,Male,No,Yes,Caucasian
250,8.573448,10.363,2430,191,2,47,18,Female,No,Yes,Asian
199,6.687342,10.403,4159,310,3,43,7,Male,No,Yes,Asian
235,7.503813,10.503,2923,232,3,25,18,Female,No,Yes,African American
262,7.653979,10.588,4049,296,1,66,13,Female,No,Yes,Caucasian

Selecting a single column, which yields a Series.

In [19]:
df.Rating.head(5)

0    283
1    483
2    514
3    681
4    357
Name: Rating, dtype: int64

Selecting via [ ], which slices the rows.

In [21]:
df[50:60]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
50,10.107356,36.362,5183,376,3,49,15,Male,No,Yes,African American
51,13.010768,39.705,3969,301,2,27,20,Male,No,Yes,African American
52,11.924342,44.205,5441,394,1,32,12,Male,No,Yes,Caucasian
53,9.728192,16.304,5466,413,4,66,10,Male,No,Yes,Asian
54,7.665662,15.333,1499,138,2,47,9,Female,No,Yes,Asian
55,11.454337,32.916,1786,154,2,60,8,Female,No,Yes,Asian
56,17.053691,57.100,4742,372,7,79,18,Female,No,Yes,Asian
57,18.155488,76.273,4779,367,4,65,14,Female,No,Yes,Caucasian
58,9.180797,10.354,3480,281,2,70,17,Male,No,Yes,Caucasian
59,16.424095,51.872,5294,390,4,81,17,Female,No,No,Caucasian

In [26]:
df.loc[40:50]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
40,12.029646,34.950,3327,253,3,54,14,Female,No,No,African American
41,25.291008,113.659,7659,538,2,66,15,Male,Yes,Yes,African American
42,13.123669,44.158,4763,351,2,66,13,Female,No,Yes,Asian
43,12.319976,36.929,6257,445,1,24,14,Female,No,Yes,Asian
44,12.059596,31.861,6375,469,3,25,16,Female,No,Yes,Caucasian
45,18.653661,77.380,7569,564,3,50,12,Female,No,Yes,Caucasian
46,10.805825,19.531,5043,376,2,64,16,Female,Yes,Yes,Asian
47,11.488565,44.646,4431,320,2,49,15,Male,Yes,Yes,Caucasian
48,13.433468,44.522,2252,205,6,72,15,Male,No,Yes,Asian
49,14.007633,43.479,4569,354,4,49,13,Male,Yes,Yes,African American
50,10.107356,36.362,5183,376,3,49,15,Male,No,Yes,African American

#### Selection by Label

You can select a range of columns and rows for viewing. Like in the syntax below. 5:8 means 5 to 8 and 1,7 means 1 and 7. To give a range of observations, you use a semi colon. To select a column you use a comma. For example below we have selected column 1 and 7.

In [32]:
df.iloc[5:8,[1,7]]

   Income  Gender
5  80.180    Male
6  20.996  Female
7  71.408    Male

Using a single column’s values to select data. Using the example below, we want to find if there are any users who are above the age of 90.

In [1]:
df[df.Age > 90]

NameError: name 'df' is not defined

## Compulsory Tasks

In [19]:
#Select the Limit and rating columns of the first five observations
df.iloc[0:5,[2,3]]

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [27]:
# Select first five observations with 4 cards
df[df.Cards==4].head()

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
5,22.486178,80.180,8047,569,4,77,10,Male,No,No,Caucasian
10,13.994990,63.095,8117,589,4,30,14,Male,No,Yes,Caucasian
20,9.853100,17.700,2860,235,4,63,16,Female,No,No,Asian
29,14.007770,26.813,5611,411,4,55,16,Female,No,No,Caucasian

In [29]:
# Sort the observations showing those with a high level of education to 
# those with a lower level
df.sort_values(by='Education',ascending=False)

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
60,13.297283,35.510,5198,364,2,35,20,Female,No,No,Asian
51,13.010768,39.705,3969,301,2,27,20,Male,No,Yes,African American
378,10.140785,19.349,4941,366,1,33,19,Male,No,Yes,Caucasian
247,13.774598,36.364,2220,188,3,50,19,Male,No,No,Caucasian
238,11.079748,26.532,2910,236,6,58,19,Female,No,Yes,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
284,8.298482,14.711,2047,167,2,67,6,Male,No,Yes,Caucasian
368,19.555838,89.000,5759,440,3,37,6,Female,No,No,Caucasian
224,25.262836,121.709,7818,584,4,50,6,Male,No,Yes,Caucasian
254,13.997826,36.508,6386,469,4,79,6,Female,No,Yes,Caucasian
30,10.201523,34.142,5666,413,4,47,5,Female,No,Yes,Caucasian

Here are some indexing examples write comments on the data the indexing is retrieving. For example:

df.iloc[:5,:] — the first 5 rows, and all of the columns for those rows.

In [37]:
df.iloc[:,:]

,Balance,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity
0,12.240798,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian
1,23.283334,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian
2,22.530409,104.593,7075,514,4,71,11,Male,No,No,Asian
3,27.652811,148.924,9504,681,3,36,11,Female,No,No,Asian
4,16.893978,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian
5,22.486178,80.180,8047,569,4,77,10,Male,No,No,Caucasian
6,10.574516,20.996,3388,259,2,37,12,Female,No,No,African American
7,14.576204,71.408,7114,512,2,87,9,Male,No,No,Asian
8,7.938090,15.125,3300,266,5,66,13,Female,No,No,Caucasian
9,17.756965,71.061,6819,491,3,41,19,Female,Yes,Yes,African American
10,13.994990,63.095,8117,589,4,30,14,Male,No,Yes,Caucasian
11,9.467308,15.045,1311,138,3,64,16,Male,No,No,Caucasian
12,19.218800,80.616,5308,394,1,57,7,Female,No,Yes,Asian
13,10.698984,43.682,6922,511,1,49,9,Male,No,Yes,Caucasian
14,9.893533,19.144,3291,269,2,75,13,Female,No,No,African American
15,10.045128,20.089,2525,200,3,57,15,Female,No,Yes,African American
16,15.248772,53.598,3714,286,3,73,17,Female,No,Yes,African American
17,12.960885,36.496,4378,339,3,69,15,Female,No,Yes,Asian
18,11.573778,49.570,6384,448,1,28,9,Female,No,Yes,Asian
19,13.236249,42.079,6626,479,2,44,9,Male,No,No,Asian
20,9.853100,17.700,2860,235,4,63,16,Female,No,No,Asian
21,13.595776,37.348,6378,458,1,72,17,Female,No,No,Caucasian
22,9.416509,20.103,2631,213,3,61,10,Male,No,Yes,African American
23,16.302533,64.027,5179,398,5,48,8,Male,No,Yes,African American
24,6.160948,10.742,1757,156,3,57,15,Female,No,No,Caucasian
25,8.232514,14.090,4323,326,5,25,16,Female,No,Yes,African American
26,14.959916,42.471,3625,289,6,44,12,Female,Yes,No,Caucasian
27,12.608461,32.793,4534,333,2,44,16,Male,No,No,African American
28,35.271011,186.634,13414,949,2,41,14,Female,No,Yes,African American
29,14.007770,26.813,5611,411,4,55,16,Female,No,No,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...
370,10.622421,35.610,6135,466,4,40,12,Male,No,No,Caucasian
371,11.988272,39.116,2150,173,4,75,15,Male,No,No,Caucasian
372,10.703616,19.782,3782,293,2,46,16,Female,Yes,No,Caucasian
373,15.272098,55.412,5354,383,2,37,16,Female,Yes,Yes,Caucasian
374,14.100373,29.400,4840,368,3,76,18,Female,No,Yes,Caucasian
375,10.820210,20.974,5673,413,5,44,16,Female,No,Yes,Caucasian
376,17.667866,87.625,7167,515,2,46,10,Female,No,No,African American
377,10.463915,28.144,1567,142,3,51,10,Male,No,Yes,Caucasian
378,10.140785,19.349,4941,366,1,33,19,Male,No,Yes,Caucasian
379,13.715965,53.308,2860,214,1,84,10,Male,No,Yes,Caucasian
380,24.550527,115.123,7760,538,3,83,14,Female,No,No,African American
381,24.949141,101.788,8029,574,2,84,11,Male,No,Yes,Caucasian
382,4.843015,24.824,5495,409,1,33,9,Male,Yes,No,Caucasian
383,7.192237,14.292,3274,282,9,64,9,Male,No,Yes,Caucasian
384,10.512044,20.088,1870,180,3,76,16,Male,No,No,African American
385,11.638653,26.400,5640,398,3,58,15,Female,No,No,Asian
386,9.196063,19.253,3683,287,4,57,10,Male,No,No,African American
387,9.460031,16.529,1357,126,3,62,9,Male,No,No,Asian
388,13.090723,37.878,6827,482,2,80,13,Female,No,No,Caucasian
389,20.089172,83.948,7100,503,2,44,18,Male,No,No,Caucasian
390,27.079396,135.118,10578,747,3,81,15,Female,No,Yes,Asian
391,17.320029,73.327,6555,472,2,43,15,Female,No,No,Caucasian
392,10.872064,25.974,2308,196,2,24,10,Male,No,No,Asian
393,10.958612,17.316,1335,138,2,65,13,Male,No,No,African American
394,14.735482,49.794,5758,410,4,40,8,Male,No,No,Caucasian
395,8.764984,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian
396,9.943838,13.364,3838,296,5,65,17,Male,No,No,African American
397,14.882078,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian
398,12.001071,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian
399,10.159598,18.701,5524,415,5,64,7,Female,No,No,Asian

In [38]:
df.iloc[5:,5:]

     Age  Education  Gender Student Married         Ethnicity
5     77         10    Male      No      No         Caucasian
6     37         12  Female      No      No  African American
7     87          9    Male      No      No             Asian
8     66         13  Female      No      No         Caucasian
9     41         19  Female     Yes     Yes  African American
10    30         14    Male      No     Yes         Caucasian
11    64         16    Male      No      No         Caucasian
12    57          7  Female      No     Yes             Asian
13    49          9    Male      No     Yes         Caucasian
14    75         13  Female      No      No  African American
15    57         15  Female      No     Yes  African American
16    73         17  Female      No     Yes  African American
17    69         15  Female      No     Yes             Asian
18    28          9  Female      No     Yes             Asian
19    44          9    Male      No      No             Asian
20    63         16  Female      No      No             Asian
21    72         17  Female      No      No         Caucasian
22    61         10    Male      No     Yes  African American
23    48          8    Male      No     Yes  African American
24    57         15  Female      No      No         Caucasian
25    25         16  Female      No     Yes  African American
26    44         12  Female     Yes      No         Caucasian
27    44         16    Male      No      No  African American
28    41         14  Female      No     Yes  African American
29    55         16  Female      No      No         Caucasian
30    47          5  Female      No     Yes         Caucasian
31    43         16    Male      No     Yes             Asian
32    48         13  Female      No      No         Caucasian
33    30         10    Male      No     Yes         Caucasian
34    25         14  Female      No     Yes             Asian
..   ...        ...     ...     ...     ...               ...
370   40         12    Male      No      No         Caucasian
371   75         15    Male      No      No         Caucasian
372   46         16  Female     Yes      No         Caucasian
373   37         16  Female     Yes     Yes         Caucasian
374   76         18  Female      No     Yes         Caucasian
375   44         16  Female      No     Yes         Caucasian
376   46         10  Female      No      No  African American
377   51         10    Male      No     Yes         Caucasian
378   33         19    Male      No     Yes         Caucasian
379   84         10    Male      No     Yes         Caucasian
380   83         14  Female      No      No  African American
381   84         11    Male      No     Yes         Caucasian
382   33          9    Male     Yes      No         Caucasian
383   64          9    Male      No     Yes         Caucasian
384   76         16    Male      No      No  African American
385   58         15  Female      No      No             Asian
386   57         10    Male      No      No  African American
387   62          9    Male      No      No             Asian
388   80         13  Female      No      No         Caucasian
389   44         18    Male      No      No         Caucasian
390   81         15  Female      No     Yes             Asian
391   43         15  Female      No      No         Caucasian
392   24         10    Male      No      No             Asian
393   65         13    Male      No      No  African American
394   40          8    Male      No      No         Caucasian
395   32         13    Male      No     Yes         Caucasian
396   65         17    Male      No      No  African American
397   67         12  Female      No     Yes         Caucasian
398   44         13    Male      No     Yes         Caucasian
399   64          7  Female      No      No             Asian

[395 rows x 6 columns]

In [39]:
df.iloc[:,0]

0      12.240798
1      23.283334
2      22.530409
3      27.652811
4      16.893978
5      22.486178
6      10.574516
7      14.576204
8       7.938090
9      17.756965
10     13.994990
11      9.467308
12     19.218800
13     10.698984
14      9.893533
15     10.045128
16     15.248772
17     12.960885
18     11.573778
19     13.236249
20      9.853100
21     13.595776
22      9.416509
23     16.302533
24      6.160948
25      8.232514
26     14.959916
27     12.608461
28     35.271011
29     14.007770
         ...
370    10.622421
371    11.988272
372    10.703616
373    15.272098
374    14.100373
375    10.820210
376    17.667866
377    10.463915
378    10.140785
379    13.715965
380    24.550527
381    24.949141
382     4.843015
383     7.192237
384    10.512044
385    11.638653
386     9.196063
387     9.460031
388    13.090723
389    20.089172
390    27.079396
391    17.320029
392    10.872064
393    10.958612
394    14.735482
395     8.764984
396     9.943838
397    14.882078
398    12.001071
399    10.159598
Name: Balance, Length: 400, dtype: float64

In [40]:
df.iloc[9,:]

Balance                17.757
Income                 71.061
Limit                    6819
Rating                    491
Cards                       3
Age                        41
Education                  19
Gender                 Female
Student                   Yes
Married                   Yes
Ethnicity    African American
Name: 9, dtype: object